<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145480220229-onjpc4o95fmcina549lt8s663624k8ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145480220229-onjpc4o95fmcina549lt8s663624k8ij</string>
	<key>API_KEY</key>
	<string>AIzaSyB2MaTmiRfNWDsaaD25iKn5eMfCGRNcqXI</string>
	<key>GCM_SENDER_ID</key>
	<string>145480220229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapp.mydeals</string>
	<key>PROJECT_ID</key>
	<string>mydeal-af4f6</string>
	<key>STORAGE_BUCKET</key>
	<string>mydeal-af4f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145480220229:ios:4622724a934cb8e1522d2c</string>
	<key>DATABASE_URL</key>
	<string>https://mydeal-af4f6-default-rtdb.firebaseio.com</string>
</dict>
</plist>